{% extends 'base.html' %}
{% block title %}Secret{% endblock %}
{% block content %}
<h1 class="display-2 text-center border border-dark p-3">User Info</h1>
<div class="container text-center">
    <ul class="list-group my-3">
        <li class="list-group-item"><b>Username:</b>  {{user.username}}</li>
        <li class="list-group-item"><b>Email:</b>  {{user.email}}</li>
        <li class="list-group-item"><b>First Name:</b>  {{user.first_name}}</li>
        <li class="list-group-item"><b>Last Name:</b>  {{user.last_name}}</li>
    </ul>
    <form action="/users/{{user.username}}/delete" method="POST">
        <a href="/users/{{user.username}}/feedback/add" class="btn btn-success">Add Feedback</a>
<button class="btn btn-danger" type="submit">Delete User</button>
</form>
</div>
<h2 class="display-4 text-center my-5 border border-dark p-3">{{user.username}}'s feedback!</h2>
<div class="container text-center my-5">
    <div class="row">
    {% for feedback in user.feedback %}
    <div class="col-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{feedback.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">feedback id:{{feedback.id}}</h6>
          <p class="card-text">{{feedback.content}}</p>
          <form action="/feedback/{{feedback.id}}/update "><button type="submit" 
            class="btn btn-warning btn-block my-1">Update</button></form>
            <form action="/feedback/{{feedback.id}}/delete" method="POST"><button type="submit" 
                class="btn btn-danger btn-block my-1">Delete</button></form>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
</div>
{% endblock %}